/AXNAEngine/obj
/AXNAEngine/bin
/AXNAEngineContent/AXNAEngineContent/obj
/AXNAEngineContent/AXNAEngineContent/bin
/AXNAEngineContent/AXNAEngineContentContent/obj
/AXNAEngineContent/AXNAEngineContentContent/bin

/AXNAEngine.sln
/AXNAEngine.suo

/AXNAEngine/AXNAEngine/*.cachefile


